.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

bin/*
!/plugins
!/plugins/android.json
!/plugins/fetch.json
plugins/*
platforms/*

node_modules
www/index.js
js/**/*.js
js/**/*.js.map